# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
migrations/

# Ignore environment variables and secret files
.env

# Ignore logs and database files
*.log
*.sqlite3


# Ignore Docker-related files
Dockerfile
docker-compose.yml
